In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,San Jose,US,2021-01-22 03:22:01,37.3394,-121.8950,53.01,76,40,6.91
1,1,Puerto Ayora,EC,2021-01-22 03:26:07,-0.7393,-90.3518,75.99,93,92,1.01
2,2,Belmonte,BR,2021-01-22 03:26:07,-15.8631,-38.8828,77.00,78,0,6.91
3,3,Hamilton,US,2021-01-22 03:25:30,39.1834,-84.5333,41.00,52,1,10.36
4,4,Svetlogorsk,BY,2021-01-22 03:26:07,52.6333,29.7333,34.16,92,99,10.13

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
#get max temp
max_temp = city_data_df['Max Temp']
temps = []
for temp in max_temp:
    temps.append(max(temp,0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp], 
                                 dissipating=False, 
                                 max_intensity=300,
                                 point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent Cloudiness
locations = city_data_df[["Lat", "Lng"]]
Clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=Clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Puerto Ayora,EC,2021-01-22 03:26:07,-0.7393,-90.3518,75.99,93,92,1.01
2,2,Belmonte,BR,2021-01-22 03:26:07,-15.8631,-38.8828,77.00,78,0,6.91
15,15,Mahebourg,MU,2021-01-22 03:26:09,-20.4081,57.7000,80.60,74,20,9.22
21,21,Sinnamary,GF,2021-01-22 03:26:10,5.3833,-52.9500,75.67,92,95,14.05
29,29,Bambous Virieux,MU,2021-01-22 03:26:11,-20.3428,57.7575,82.99,74,20,9.22
36,36,Vaini,TO,2021-01-22 03:26:12,-21.2000,-175.2000,82.40,89,75,11.50
40,40,Mount Gambier,AU,2021-01-22 03:23:23,-37.8333,140.7667,77.00,41,69,11.50
41,41,Rikitea,PF,2021-01-22 03:26:12,-23.1203,-134.9692,78.85,72,2,14.41
43,43,Atuona,PF,2021-01-22 03:26:13,-9.8000,-139.0333,78.42,78,57,14.07
45,45,Avarua,CK,2021-01-22 03:26:13,-21.2078,-159.7750,86.00,70,20,4.61

In [11]:
preferred_cities_df.count()

City_ID       129
City          129
Country       129
Date          129
Lat           129
Lng           129
Max Temp      129
Humidity      129
Cloudiness    129
Wind Speed    129
dtype: int64

In [12]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
1      Puerto Ayora      EC     75.99  -0.7393  -90.3518
2          Belmonte      BR     77.00 -15.8631  -38.8828
15        Mahebourg      MU     80.60 -20.4081   57.7000
21        Sinnamary      GF     75.67   5.3833  -52.9500
29  Bambous Virieux      MU     82.99 -20.3428   57.7575
36            Vaini      TO     82.40 -21.2000 -175.2000
40    Mount Gambier      AU     77.00 -37.8333  140.7667
41          Rikitea      PF     78.85 -23.1203 -134.9692
43           Atuona      PF     78.42  -9.8000 -139.0333
45           Avarua      CK     86.00 -21.2078 -159.7750

In [13]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [14]:
hotel_df.head(15)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Puerto Ayora,EC,75.99,-0.7393,-90.3518,Castillo Galapagos
2,Belmonte,BR,77.00,-15.8631,-38.8828,Pousada Monte Carmelo O Pão
15,Mahebourg,MU,80.60,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
21,Sinnamary,GF,75.67,5.3833,-52.9500,ALETHEIA Appartement Sinnamary
29,Bambous Virieux,MU,82.99,-20.3428,57.7575,Casa Tia Villa
36,Vaini,TO,82.40,-21.2000,-175.2000,Keleti Beach Resort
40,Mount Gambier,AU,77.00,-37.8333,140.7667,Commodore on the Park
41,Rikitea,PF,78.85,-23.1203,-134.9692,Pension Maro'i
43,Atuona,PF,78.42,-9.8000,-139.0333,Villa Enata
45,Avarua,CK,86.00,-21.2078,-159.7750,Paradise Inn
46,Lorengau,PG,85.86,-2.0226,147.2712,Lorengau Harbourside Hotel
47,Banda Aceh,ID,80.64,5.5577,95.3222,OYO 884 Rumoh PMI Hotel
52,Esperance,AU,80.60,-33.8667,121.9000,Hospitality Esperance
53,Awang,PH,86.49,7.1531,124.2211,"Cotabato City Pistol & Rifle Association, Inc...."
56,Buenavista,PH,80.35,8.9769,125.4089,Room For Rent

In [15]:
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [17]:
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))